<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/batch D:\DEV\xsd\spring-batch-3.0.xsd">
		<!-- http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd"> -->

	<import resource="../abstract/eGovBase.xml" />

	<!-- commit-interval 값은 일반적으로 500~1000으로 설정함 -->
	<job id="mybatisToMybatisJob" parent="eGovBaseJob" xmlns="http://www.springframework.org/schema/batch">
		<step id="mybatisToMybatisStep" parent="eGovBaseStep">
			<tasklet>
				<chunk reader="mybatisToIbatisJob.mybatisToIbatisStep.mybatisItemReader"
                       processor="mybatisToIbatisJob.mybatisToIbatisStep.itemProcessor"
                       writer="mybatisToIbatisJob.mybatisToIbatisStep.mybatisItemWriter"
                       commit-interval="500" />
			</tasklet>
		</step>
	</job>

    <bean id="mybatisToIbatisJob.mybatisToIbatisStep.mybatisItemReader" class="org.egovframe.rte.bat.core.item.database.EgovMyBatisPagingItemReader" scope="step">
        <!-- remote1 DB 읽기를 위해 remote1 SqlSessionFactory 사용 -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory-remote1" />
        <property name="queryId" value="Customer.getAllCustomerCredits" />
        <property name="pageSize" value="#{100}" />
    </bean>

    <bean id="mybatisToIbatisJob.mybatisToIbatisStep.mybatisItemWriter" class="org.egovframe.rte.bat.core.item.database.EgovMyBatisBatchItemWriter">
        <!-- 로컬 DB 적재를 위해 local SqlSessionFactory 사용 -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory-local" />
        <property name="statementId" value="Customer.updateCredit" />
    </bean>

	<bean id="mybatisToIbatisJob.mybatisToIbatisStep.itemProcessor" class="egovframework.bat.example.domain.CustomerCreditIncreaseProcessor" />

</beans>
