<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
      <Appenders>
        <Console name="console" target="SYSTEM_OUT">
          <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
      </Appenders>
      <Loggers>
          <!-- 프레임워크 패키지 로그 레벨 설정 -->
          <Logger name="java.sql" level="INFO" additivity="false">
              <AppenderRef ref="console" />
          </Logger>
          <Logger name="egovframework" level="DEBUG" additivity="false">
              <AppenderRef ref="console" />
          </Logger>
          <Logger name="org.egovframe" level="DEBUG" additivity="false">
              <AppenderRef ref="console" />
          </Logger>
          <!-- 실행 후 SQL과 시간 정보를 로그 -->
          <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
              <AppenderRef ref="console" />
          </Logger>
          <Logger name="org.springframework" level="INFO" additivity="false">
              <AppenderRef ref="console" />
          </Logger>
          <Root level="ERROR">
              <AppenderRef ref="console" />
          </Root>
      </Loggers>
  </Configuration>
