<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 실행환경에서 빈이름 참조(EgovAbstractDAO) -->
    <bean id="egov.lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />

    <!-- remote1 DB용 SqlSessionFactory -->
    <bean id="sqlSessionFactory-remote1" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-remote1"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/example/Egov_Example_SQL.xml</value>
                <value>classpath:/egovframework/batch/mapper/insa/insa_remote1_to_stg.xml</value>
            </list>
        </property>
    </bean>

    <!-- STG DB용 SqlSessionFactory (remote1->STG 이관) -->
    <bean id="sqlSessionFactory-remote1-to-stg" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-stg"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/example/Egov_Example_SQL.xml</value>
                <value>classpath:/egovframework/batch/mapper/insa/insa_remote1_to_stg.xml</value>
            </list>
        </property>
    </bean>

    <!-- STG DB용 SqlSessionFactory (STG->Local 이관) -->
    <bean id="sqlSessionFactory-stg-local" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-stg"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/example/Egov_Example_SQL.xml</value>
                <value>classpath:/egovframework/batch/mapper/insa/insa_stg_to_local.xml</value>
            </list>
        </property>
    </bean>

    <!-- 로컬 DB용 SqlSessionFactory -->
    <bean id="sqlSessionFactory-local" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-local"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/example/Egov_Example_SQL.xml</value>
                <value>classpath:/egovframework/batch/mapper/insa/insa_stg_to_local.xml</value>
            </list>
        </property>
    </bean>

</beans>
