<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 실행환경에서 빈이름 참조(EgovAbstractDAO) -->
    <bean id="egov.lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />

    <!-- 운영 MySQL용 SqlSessionFactory -->
    <bean id="sqlSessionFactory-local" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-local"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <!-- BatchManagementMapper.xml은 스테이징 전용으로, 로컬에서는 제외합니다. -->
            <list>
                <value>classpath:/egovframework/batch/mapper/insa/insa_stg_to_local.xml</value>
                <value>classpath:/egovframework/batch/mapper/job/erp/erp_stg_to_local.xml</value>
            </list>
        </property>
    </bean>

    <!-- 스테이징 MySQL (Primary)용 SqlSessionFactory -->
    <bean id="sqlSessionFactory-stg" class="org.mybatis.spring.SqlSessionFactoryBean" primary="true">
        <property name="dataSource" ref="dataSource-stg"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/insa/insa_stg_to_local.xml</value>
                <value>classpath:/egovframework/batch/mapper/insa/insa_remote1_to_stg.xml</value>
                <value>classpath:/egovframework/batch/mapper/job/erp/erp_stg_to_local.xml</value>
                <value>classpath:/egovframework/batch/mapper/job/erp/erp_rest_to_stg.xml</value>
                <value>classpath:/egovframework/batch/mapper/job/example/Egov_Example_SQL.xml</value>
                <!-- 배치 관리 매퍼는 스테이징 환경에서만 사용됩니다. -->
                <value>classpath:/egovframework/batch/mapper/batch/BatchManagementMapper.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- insa - remote1 DB용 SqlSessionFactory -->
    <bean id="insa-sqlSessionFactory-remote1" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-remote1"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/insa/insa_remote1_to_stg.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- example - remote1 DB용 SqlSessionFactory -->
    <bean id="example-sqlSessionFactory-remote1" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-remote1"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/job/example/Egov_Example_SQL.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- 연계시스템2 - remote2 DB용 SqlSessionFactory -->
    <!-- 
    <bean id="gita-sqlSessionFactory-remote2" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-remote2"/>
        <property name="configLocation" value="classpath:/egovframework/batch/mapper/config/mapper-config.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:/egovframework/batch/mapper/insa/gita_remote2_to_stg.xml</value>
            </list>
        </property>
    </bean>    
 	-->

</beans>
